{% extends 'include/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block body %}
<div class="py-5">
    <div class="container">
        <div class="row gx-4 align-items-center">
            <div class="col-md-7">
                <h1 class="mb-4">Онлайн - школа для будущих <span class="text-primary">инженеров</span> и <span class="text-primary">программистов</span></h1>
                <div class="fs-5 mb-4">Занятия по программированию, 3D - моделированию, электронике и многому другому
                    для школьников с 1 по 11 класс</div>
                <a onclick="go_learn()" class="btn btn-outline-primary btn-lg px-4">Записаться на летние занятия!</a>
            </div>
            <div class="col-md-5 d-none d-md-block">
                <img src="{% static 'summer_camp/shuvalov.png' %}" alt="" class="col-12 img-fluid">
            </div>
        </div>
    </div>
</div>
<div class="py-5 bg-dark">
    <div class="container">
        <h1 class="text-white mb-4">Как проходят занятия?</h1>
        <div class="row gx-2 mb-2">
            <div class="col-md-2 col-lg-2 col-xl-1 d-none d-md-block">
                <div class="card h-100 bg-light border-0">
                    <div class="card-body p-2">
                        <img src="{% static 'home/lms_logo.png' %}" alt="" class="rounded img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-9">
                <div class="card h-100 border-0">
                    <div class="card-body p-3 p-md-2">
                        <div class="fs-5">
                            В течение недели учащиеся проходят материал на платформе. Маленький блок теории и большое
                            количество практики
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-2 mb-2">
            <div class="col-md-2 col-lg-2 col-xl-1 d-none d-md-block offset-1">
                <div class="card h-100 bg-light border-0">
                    <div class="card-body p-2">
                        <img src="{% static 'home/question_logo.png' %}" alt="" class="rounded img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-9">
                <div class="card h-100 border-0">
                    <div class="card-body p-3 p-md-2">
                        <div class="fs-5">
                            Если вопрос не терпит до занятия - смело пишем в общий чат в любом мессенджере
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-2 mb-2">
            <div class="col-md-2 col-lg-2 col-xl-1 d-none d-md-block offset-2">
                <div class="card h-100 bg-light border-0">
                    <div class="card-body p-2">
                        <img src="{% static 'home/discord_logo.png' %}" alt="" class="rounded img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-xl-9">
                <div class="card h-100 border-0">
                    <div class="card-body p-3 p-md-2">
                        <div class="fs-5">
                            Раз в неделю созваниваемся и обсуждаем сложные моменты, повторяем пройденный материал и
                            обсуждаем проекты
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container mb-5">
        <h1 class="mb-4">Основные курсы летних смен</h1>
        <div class="row gx-2 gy-2">
            <div class="col-12 col-lg-6">
                <div class="card ">
                    <div class="card-body h-100">
                        <div class="row">
                            <div class="col-9 col-md-10 col-lg-9 d-flex flex-column">
                                <div class="flex-grow-1 fs-5 fw-semibold">
                                    Программирование на Python
                                </div>
                                <div class="flex-grow-1 fs-6">
                                    Изучаем основы языка, решаем очень много задач! Упор на развитие мышления и навыков писать код
                                </div>
                                <span class="text-primary">3 - 11 класс</span>
                            </div>
                            <div class="col-3 col-md-2 col-lg-3">
                                <a href="/promo/python" class="stretched-link"><img src="{% static 'summer_camp/python.png' %}" alt="" class="rounded img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="card ">
                    <div class="card-body h-100">
                        <div class="row">
                            <div class="col-9 col-md-10 col-lg-9 d-flex flex-column">
                                <div class="flex-grow-1 fs-5 fw-semibold">
                                    Алгоритмы и структуры данных на Python
                                </div>
                                <div class="flex-grow-1 fs-6">
                                    Для тех, кто уже знаком с Python. Прокачиваем алгоритмическое решение, изучаем структуры данных и прокачиваем навык программирования
                                </div>
                                <span class="text-primary">7 - 11 класс</span>
                            </div>
                            <div class="col-3 col-md-2 col-lg-3">
                                <a href="/promo/algorithms" class="stretched-link"><img src="{% static 'summer_camp/algorithms_logo_500x500.png' %}" alt="" class="rounded img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <h1 class="mb-4">Дополнительные курсы</h1>
        <p>Что еще пройдем? Это дополнительные факультативные и бесплатные курсы, которые будут доступны учащимся. Но всегда можно взять любой курс за основу.</p>
        <div class="row gx-2 gy-2">
            <div class="col-12 col-lg-6">
                <div class="card ">
                    <div class="card-body h-100">
                        <div class="row">
                            <div class="col-9 col-md-10 col-lg-9 d-flex flex-column">
                                <div class="flex-grow-1 fs-5 fw-semibold">
                                    Информатика
                                </div>
                                <div class="flex-grow-1 fs-6">
                                    Один из базовых предметов для будущего технаря. От систем счисления до устройства процессора.
                                </div>
                                <span class="text-primary">3 - 11 класс</span>
                            </div>
                            <div class="col-3 col-md-2 col-lg-3">
                                <img src="{% static 'summer_camp/inf.png' %}" alt="" class="rounded img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card ">
                    <div class="card-body h-100">
                        <div class="row">
                            <div class="col-9 col-md-10 col-lg-9 d-flex flex-column">
                                <div class="flex-grow-1 fs-5 fw-semibold">
                                    Математика
                                </div>
                                <div class="flex-grow-1 fs-6">
                                    Связываем математику и программирование, решаем задачи. Можно выбрать повторение своего класса или немножко залезть вперед.
                                </div>
                                <span class="text-primary">3 - 11 класс</span>
                            </div>
                            <div class="col-3 col-md-2 col-lg-3">
                                <img src="{% static 'summer_camp/math.png' %}" alt="" class="rounded img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card ">
                    <div class="card-body h-100">
                        <div class="row">
                            <div class="col-9 col-md-10 col-lg-9 d-flex flex-column">
                                <div class="flex-grow-1 fs-5 fw-semibold">
                                    Система контроля версий
                                </div>
                                <div class="flex-grow-1 fs-6">
                                    Изучаем GIT и как работает система хранения версий
                                </div>
                                <span class="text-primary">5 - 11 класс</span>
                            </div>
                            <div class="col-3 col-md-2 col-lg-3">
                                <img src="{% static 'summer_camp/git.png' %}" alt="" class="rounded img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card ">
                    <div class="card-body h-100">
                        <div class="row">
                            <div class="col-9 col-md-10 col-lg-9 d-flex flex-column">
                                <div class="flex-grow-1 fs-5 fw-semibold">
                                    Большие данные
                                </div>
                                <div class="flex-grow-1 fs-6">
                                    Учимся анализировать данные при помощи Python и Pandas
                                </div>
                                <span class="text-primary">7 - 11 класс</span>
                            </div>
                            <div class="col-3 col-md-2 col-lg-3">
                                <img src="{% static 'summer_camp/data.jpg' %}" alt="" class="rounded img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 bg-dark">
    <div class="container">
        <div class="row gx-2 mb-2 align-items-center">
            <div class="col-12 col-lg-7 mb-4">
                <h1 class="mb-0 text-white">Занимайся на платформе, проходи уроки и выполняй задания. Больше <span class="text-primary">практики</span>!</h1>
            </div>
            <div class="col-12 col-lg-5">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.youtube.com/embed/xohwt7rTmok" title="IT Polygon Video" class="rounded" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">

        <div class="row g-2">
            <div class="col">
                <h1 class="mb-4">Тариф Junior</h1>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        Цена <span class="text-primary">5000</span> рублей за 4 недели
                    </div>
                </div>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        <span class="text-primary">Одно</span> онлайн занятие в неделю продолжительностью <span class="text-primary">120 минут</span>
                    </div>
                </div>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        Доступ к обучающим материалам <span class="text-primary">24 \ 7</span>
                    </div>
                </div>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        Доступ к <span class="text-primary">чату с преподавателем</span> для ответа на вопросы.
                    </div>
                </div>
            </div>

            <div class="col">
                <h1 class="mb-4">Тариф Middle</h1>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        Цена <span class="text-primary">7500</span> рублей за 4 занятия (недели)
                    </div>
                </div>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        <span class="text-primary">Два</span> онлайн занятия в неделю продолжительностью <span class="text-primary">120 минут</span>
                    </div>
                </div>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        Доступ к обучающим материалам <span class="text-primary">24 \ 7</span>
                    </div>
                </div>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        Доступ к <span class="text-primary">чату с преподавателем</span> для ответа на вопросы.
                    </div>
                </div>
            </div>
            <div class="col">
                <h1 class="mb-4">Тариф Senior</h1>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        Цена <span class="text-primary">10000</span> рублей за 4 занятия (недели)
                    </div>
                </div>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        <span class="text-primary">Три</span> онлайн занятия в неделю продолжительностью <span class="text-primary">120 минут</span>
                    </div>
                </div>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        Доступ к обучающим материалам <span class="text-primary">24 \ 7</span>
                    </div>
                </div>
                <div class="card shadow mb-2">
                    <div class="card-body">
                        Доступ к <span class="text-primary">чату с преподавателем</span> для ответа на вопросы.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %}
<div class="py-5">
    <div class="container">
        <h1 class="mb-4">Расписание</h1>
        <ul class="nav nav-tabs mb-4" id="scheduleTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#saturday-schedule" type="button" role="tab" aria-controls="saturday-schedule" aria-selected="true">Суббота</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#sunday-schedule" type="button" role="tab" aria-controls="sunday-schedule" aria-selected="false">Воскресенье</button>
            </li>
        </ul>
        <div class="tab-content" id="scheduleTabContent">
            <div class="tab-pane fade show active" id="saturday-schedule" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div class="row gx-2">
                    <div class="col-6 col-sm-3 text-center">
                        <div class="card mb-2">
                            <div class="card-body">
                                10:00 - 12:00
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-9 offset-2 offset-sm-0">
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a href="http://itpolygon.ru/promo/python-programming" class="text-decoration-none">Программирование на Python</a> - решаем задачи, изучаем алгоритмы
                                    </div>
                                    <div class="text-end">
                                        5 - 8 класс
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-6 col-sm-3 text-center">
                        <div class="card mb-2">
                            <div class="card-body">
                                12:00 - 14:00
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-9 offset-2 offset-sm-0">
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a href="http://itpolygon.ru/promo/python-gamedev" class="text-decoration-none">Гейм - дизайн на Python</a> - пишем игры
                                    </div>
                                    <div class="text-end">
                                        5 - 8 класс
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-6 col-sm-3 text-center">
                        <div class="card mb-2">
                            <div class="card-body">
                                15:00 - 17:00
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-9 offset-2 offset-sm-0">
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a href="http://itpolygon.ru/promo/python-programming" class="text-decoration-none">Программирование на Python</a> - решаем задачи, изучаем алгоритмы
                                    </div>
                                    <div class="text-end">
                                        9 - 11 класс
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-2">
                    <div class="col-6 col-sm-3 text-center">
                        <div class="card mb-2">
                            <div class="card-body">
                                17:00 - 19:00
                            </div>
                        </div>
                    </div>
                    <div class="col-10 col-sm-9 offset-2 offset-sm-0">
                        <div class="card mb-2">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <a href="http://itpolygon.ru/promo/web" class="text-decoration-none">WEB - программирование</a> - HTML + CSS -> верстаем сайты
                                    </div>
                                    <div class="text-end">
                                        7 - 11 класс
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="sunday-schedule" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <div class="card">
                    <div class="card-body">
                        Если мест не хватит в других группах - будем заниматься и в Воскресенье :)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
<div class="py-5">
    <div class="container">
        <div class="row gx-2 mb-2 align-items-center">
            <div class="col-12 col-lg-7 mb-4">
                <h1 class="mb-2">А еще в течение недели собираемся и играем в игры!</h1>
                <p>Отличный способ развить софт - скилы и пообщаться с коллегами по цеху</p>
            </div>
            <div class="col-12 col-lg-5">
                <div class="ratio ratio-16x9">
                    <img src="{% static 'summer_camp/game.png' %}" alt="" class="rounded img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5 bg-primary">
    <div class="container">
        <h1 class="text-white mb-4">Запишите ребенка на занятия!</h1>
        <div class="row g-2">
            <div class="col-lg-6">
                <div class="card h-100 border-0">
                    <div class="card-body p-4">
                        <div class="border-bottom pb-3">
                            После заполнения формы я свяжусь с Вами и отвечу на все вопросы. По умолчанию я пишу в
                            мессенджерах, но если необходимо - мы созвонимся
                        </div>
                        <div class="position-relative mt-3">
                            <video muted="muted" autoplay="autoplay" class="rounded img-fluid">
                                <source src="{% static 'home/platformer.webm' %}">
                            </video>
                            <span class="badge bg-white text-dark p-2 m-2 position-absolute top-0 start-0">Пример работы
                                с курса</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6" id="form">
                <form method="post">
                    {% csrf_token %}
                    <div class="card h-100 border-0">
                        <div class="card-body p-4">
                            <h3 class="mb-4">Оставить заявку</h3>
                            {% if messages %}
                            {% for message in messages %}
                            <div class="input-group mb-2">
                                <div class="form-control is-valid">{{ message }}!</div>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <label class="form-label">ФИО Родителя</label>
                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="bi bi-person"></i></span>
                                {{ form.parent_last_name }}{{ form.parent_first_name }}{{ form.parent_middle_name }}
                            </div>
                            {% for error in form.parent_last_name.errors %}
                            <div class="text-danger small mb-2">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% for error in form.parent_first_name.errors %}
                            <div class="text-danger small mb-2">
                                {{ error }}
                            </div>
                            {% endfor %}
                            <label class="form-label">Телефон</label>
                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="bi bi-telephone"></i></span>{{ form.phone }}
                            </div>
                            {% for error in form.phone.errors %}
                            <div class="text-danger small mb-2">
                                {{ error }}
                            </div>
                            {% endfor %}
                            <label class="form-label">Email</label>
                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="bi bi-envelope"></i></span>{{form.email}}
                            </div>
                            {% for error in form.email.errors %}
                            <div class="text-danger small mb-2">
                                {{ error }}
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-outline-primary col-12 mt-3">Записаться</button>
                            {% if form.errors or messages %}
                            <script>const el = document.getElementById('form'); el.scrollIntoView({ behavior: "smooth" });</script>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function go_learn() {
        const el = document.getElementById('form');
        el.scrollIntoView({ behavior: "smooth" });
    }
</script>
{% endblock %}