{% extends 'cms/steps/detail.html' %}{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'CMS_Dashboard' %}" class="text-decoration-none">CMS</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'CMS_CoursesList' %}" class="text-decoration-none">Курсы</a>
</li>
<li class="breadcrumb-item">
    <a href="{{ lesson.topic.course.get_cms_detail_url }}" class="text-decoration-none">{{ lesson.topic.course.title }}</a>
</li>
<li class="breadcrumb-item">
    {{ lesson.topic.title }}
</li>
<li class="breadcrumb-item">
    <a href="{{ lesson.get_cms_detail_url }}" class="text-decoration-none">{{ lesson.title }}</a>
</li>
<li class="breadcrumb-item">
    <a href="{{ step.get_cms_detail_url }}" class="text-decoration-none">{{ step.title }}</a>
</li>
<li class="breadcrumb-item active">
    Редактировать
</li>
{% endblock breadcrumb %}
{% block step_body %}
<div class="card-body">
    {% block form %}
    Вы забыли указать форму редактирования
    {% endblock %}
</div>
{% endblock %}