{% extends 'cms/steps/detail.html' %}
{% block page_title %}{{ step.title }}{% endblock %}
{% block step_body %}
<div class="card-body">
    <div class="card mb-2">
        <div class="card-body">
            <a href="{% url 'CMS_ProblemStepCreateTests' lesson.topic.course.slug lesson.topic.slug lesson.slug step.slug %}">Добавить тесты</a>
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-header bg-transparent px-3">
            Ограничение времени: {{ step.cputime }} секунда | Ограничение памяти: {{ step.memory }} Мб
        </div>
        <div class="card-body border-bottom pb-0">
            <h4>Легенда</h4>
            {{ step.description|safe }}
        </div>
        <div class="card-body border-bottom pb-0">
            <h4>Формат ввода</h4>
            {{ step.input_format|safe }}
        </div>
        <div class="card-body pb-0">
            <h4>Формат вывода</h4>
            {{ step.output_format|safe }}
        </div>
        {% if step.notes %}
        <div class="card-body border-top pb-0">
            <h4>Примечания</h4>
            {{ step.notes|safe }}
        </div>
        {% endif %}
    </div>
    <div class="card mb-2">
        <div class="card-header bg-transparent px-3">
            <h4 class="mb-0">Пример</h4>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                {% for sample in samples %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if forloop.first %}active{% endif %}" id="sample-tab-{{ sample.number }}" data-bs-toggle="pill" data-bs-target="#sample-{{ sample.number }}" type="button" role="tab" aria-controls="sample-{{ sample.number }}" aria-selected="true"># {{ sample.number }}</button>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="pills-tabContent">
                {% for sample in samples %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="sample-{{ sample.number }}" role="tabpanel" aria-labelledby="sample-tab-{{ sample.number }}" tabindex="0">
                    <div class="row">
                        <div class="col-6">
                            <h6>Ввод</h6>
                            <pre class="mb-0"><code>{{ sample.input }}</code></pre>
                        </div>
                        <div class="col-6">
                            <h6>Вывод</h6>
                            <pre class="mb-0"><code>{{ sample.output }}</code></pre>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header bg-transparent px-3">
            <h4 class="mb-0">Тесты</h4>
        </div>
        <div class="card-body">
            <ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
                {% for test in tests %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if forloop.first %}active{% endif %}" id="test-tab-{{ test.number }}" data-bs-toggle="pill" data-bs-target="#test-{{ test.number }}" type="button" role="tab" aria-controls="test-{{ test.number }}" aria-selected="true"># {{ test.number }}</button>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="pills-tabContent">
                {% for test in tests %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="test-{{ test.number }}" role="tabpanel" aria-labelledby="test-tab-{{ test.number }}" tabindex="0">
                    <div class="row">
                        <div class="col-6">
                            <h6>Ввод</h6>
                            <pre class="mb-0"><code>{{ test.input }}</code></pre>
                        </div>
                        <div class="col-6">
                            <h6>Вывод</h6>
                            <pre class="mb-0"><code>{{ test.output }}</code></pre>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}