<div class="container my-4">
    <div class="row">
        <div class="d-flex justify-content-between mt-2">
            <ul class="nav col-12 justify-content-end d-flex fs-4 border-top">
                <li class=""><a class="text-muted" href="mailto:info@itpolygon.ru"><i class="bi bi-envelope"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="tel:+79651979791"><i class="bi bi-telephone"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/itpolygon/"><i class="bi bi-instagram"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="https://t.me/itpolygon"><i class="bi bi-telegram"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="https://wa.me/+79651979791"><i class="bi bi-whatsapp"></i></a></li>
            </ul>
        </div>
    </div>
</div>