{% extends 'cms/dashboard.html' %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'CMS_Dashboard' %}" class="text-decoration-none">CMS</a>
</li>
<li class="breadcrumb-item active">
    Все группы
</li>
{% endblock %}
{% block main_content %}
<div class="card shadow">
    <div class="card-header bg-transparent p-3 d-flex justify-content-between align-items-center">
        <h4 class="m-0"><i class="bi bi-ui-checks-grid me-3"></i>{{ group.title }}</h4>
        <a href=""><span class="badge bg-success p-2 rounded me-2 opacity-50 "><i class="bi bi-plus"></i> Добавить занятие</span></a>
    </div>








    <div class="card-body">
        <div class="row gx-2">
            <div class="col-6 col-md-4">
                <div class="card">
                    <div class="card-body border-bottom p-1">
                        <span class="badge bg-secondary p-2 rounded me-2">--></span>Фамилия Имя
                    </div>
                    {% for user in users %}
                    <div class="card-body {% if not forloop.last %}border-bottom{% endif %} p-1 text-truncate">
                        <span class="badge bg-secondary p-2 rounded me-2 opacity-50 "><i class="bi bi-person"></i></span><span class="">{{ user.last_name }}</span><span class="d-none"> {{ user.first_name }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-6 col-md-8">
                <style>
                    .scroll {
                        overflow: auto;
                        -ms-overflow-style: none;
                        scrollbar-width: none;
                    }

                    .scroll::-webkit-scrollbar {
                        width: 0;
                        height: 0;
                    }
                </style>
                {% regroup group.lessons.all by date.month as date_lessons %}
                <div class="card overflow-auto scroll">
                    <div class="card-body p-0">
                        <div class="d-inline-flex">



                            {% for month in date_lessons %}

                            <div class="col border-end">
                                <div class="card-body d-flex p-1 border-bottom">
                                    {% for lesson in month.list %}
                                    <span class="col badge bg-secondary p-2 rounded {% if not forloop.last %}me-1{% endif %} {% if user != lesson.teacher %}opacity-25{% else %}opacity-50{% endif %}">{{ lesson.date|date:'d'}}</span>
                                    {% endfor %}

                                </div>

                                {% for user in users %}
                                <div class="card-body d-flex p-1 {% if not forloop.last %}border-bottom{% endif %} pe-0">
                                    {% for lesson in month.list %}
                                    {% user_lesson_info user lesson %}
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>










</div>
<div class="card">
    <div class="card-body">
        {{ group.schedule_lesson.all }}

    </div>
</div>
{% endblock %}