{% extends 'lms/steps/detail.html' %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block step_body %}
<div class="card-body">
    <div class="card mb-2">
        <div class="card-header bg-transparent px-3">
            Ограничение времени: {{ step.get_cputime }} секунда | Ограничение памяти: {{ step.get_memory }} Мб | Всего попыток: {% if step.get_num_attempts == -1 %}не ограничено{% else %}{{ step.get_num_attempts }}{% endif %}
        </div>
        <div class="card-body border-bottom pb-0">
            <h4>Условие задачи</h4>
            {{ step.description|safe }}
        </div>
        {% if step.problemstep.input_format %}
        <div class="card-body border-bottom pb-0">
            <h4>Формат ввода</h4>
            {{ step.get_input_format|safe }}
        </div>
        {% endif %}
        {% if step.get_output_format %}
        <div class="card-body pb-0">
            <h4>Формат вывода</h4>
            {{ step.get_output_format|safe }}
        </div>
        {% endif %}
        {% if step.get_notes %}
        <div class="card-body border-top pb-0">
            <h4>Примечания</h4>
            {{ step.get_notes|safe }}
        </div>
        {% endif %}
    </div>
    <div class="card mb-2">
        <div class="card-header bg-transparent px-3">
            <h4 class="mb-0">Примеры</h4>
        </div>
        {% for test in tests %}
        <div class="card-body {% if not forloop.last %}border-bottom{% endif %}">
            <div class="row">
                <div class="col-6">
                    <h6>Ввод</h6>
                    <pre class="mb-0"><code>{{ test.input }}</code></pre>
                </div>
                <div class="col-6">
                    <h6>Вывод</h6>
                    <pre class="mb-0"><code>{{ test.output }}</code></pre>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if step.get_num_attempts == -1 or step.get_num_attempts > user_attempts.count %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group">
            {{ form.code }}
            <button type="submit" class="btn btn-outline-secondary">Отправить</button>
        </div>
    </form>
    {% for error in form.code.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    {% for error in form.user_code.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    {% elif correct %}
    <div class="card">
        <div class="card-body text-center text-success">
            Уже есть правильный ответ
        </div>
    </div>
    {% else %}
    <div class="card">
        <div class="card-body text-center text-danger">
            Вы исчерпали все попытки
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block under_content %}
{% if user_attempts %}
<div class="card shadow mb-2">
    <div class="card-header bg-transparent p-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0 text-truncate"><i class="bi bi-ui-checks-grid me-2"></i>Ваши попытки</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="card mb-1">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        ID
                    </div>
                    <div class="col-lg-3 col-xl-2 text-center border-end d-none d-lg-block">
                        Дата
                    </div>
                    <div class="col-3 col-xl-2 text-center border-end text-truncate d-none d-md-block">
                        Задача
                    </div>
                    <div class="col-5 col-md-3 col-xl-2 text-center border-end text-truncate">
                        Участник
                    </div>
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        Вердикт
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Время
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Тест
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Язык
                    </div>
                    <div class="col-3 col-md-2 col-lg-1 pe-2">
                        <span class="badge btn btn-secondary p-2 col-12 opacity-50"><i class="bi bi-eye"></i></span>
                    </div>
                </div>
            </div>
        </div>
        {% for attempt in user_attempts %}
        <div class="card {% if not forloop.last %}mb-1{% endif %}">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        {{ attempt.pk }}
                    </div>
                    <div class="col-lg-3 col-xl-2 text-center border-end d-none d-lg-block">
                        {{ attempt.date_create|date:'d.m.Y H:i:s' }}
                    </div>
                    <div class="col-3 col-xl-2 text-center border-end text-truncate d-none d-md-block">
                        <a href="#" class="text-decoration-none">{{ attempt.problem }}</a>
                    </div>
                    <div class="col-5 col-md-3 col-xl-2 text-center border-end text-truncate">
                        <a href="#" class="text-decoration-none">{{ attempt.user }}</a>
                    </div>
                    <div class="col-2 col-lg-1 text-center border-end {% if attempt.verdict == 'OK' %}text-success{% elif attempt.verdict == 'PR' %}{% else %}text-danger{% endif %}">
                        {% if attempt.verdict == 'PR' %}-{% else %}{{ attempt.verdict }}{% endif %}
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        {% if attempt.verdict == 'PR' %}-{% else %}{{ attempt.cputime|point }}{% endif %}
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block {% if attempt.first_fail_test != 0 %}text-danger{% endif %}">
                        {% if attempt.first_fail_test == 0 %}-{% else %}{{ attempt.first_fail_test }}{% endif %}
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Python
                    </div>
                    <div class="col-3 col-md-2 col-lg-1 pe-2">
                        <a href="{{ attempt.get_detail }}"><span class="badge btn btn-primary p-2 col-12 opacity-50"><i class="bi bi-eye"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if all_attempts %}
<div class="card shadow">
    <div class="card-header bg-transparent p-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0 text-truncate"><i class="bi bi-ui-checks-grid me-2"></i>Ваши попытки</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="card mb-1">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        ID
                    </div>
                    <div class="col-lg-3 col-xl-2 text-center border-end d-none d-lg-block">
                        Дата
                    </div>
                    <div class="col-3 col-xl-2 text-center border-end text-truncate d-none d-md-block">
                        Задача
                    </div>
                    <div class="col-5 col-md-3 col-xl-2 text-center border-end text-truncate">
                        Участник
                    </div>
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        Вердикт
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Время
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Тест
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Язык
                    </div>
                    <div class="col-3 col-md-2 col-lg-1 pe-2">
                        <span class="badge btn btn-secondary p-2 col-12 opacity-50"><i class="bi bi-eye"></i></span>
                    </div>
                </div>
            </div>
        </div>
        {% for attempt in all_attempts %}
        <div class="card {% if not forloop.last %}mb-1{% endif %}">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        {{ attempt.pk }}
                    </div>
                    <div class="col-lg-3 col-xl-2 text-center border-end d-none d-lg-block">
                        {{ attempt.date_create|date:'d.m.Y H:i:s' }}
                    </div>
                    <div class="col-3 col-xl-2 text-center border-end text-truncate d-none d-md-block">
                        <a href="#" class="text-decoration-none">{{ attempt.problem }}</a>
                    </div>
                    <div class="col-5 col-md-3 col-xl-2 text-center border-end text-truncate">
                        <a href="#" class="text-decoration-none">{{ attempt.user }}</a>
                    </div>
                    <div class="col-2 col-lg-1 text-center border-end {% if attempt.verdict == 'OK' %}text-success{% elif attempt.verdict == 'PR' %}{% else %}text-danger{% endif %}">
                        {% if attempt.verdict == 'PR' %}-{% else %}{{ attempt.verdict }}{% endif %}
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        {% if attempt.verdict == 'PR' %}-{% else %}{{ attempt.cputime|point }}{% endif %}
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block {% if attempt.first_fail_test != 0 %}text-danger{% endif %}">
                        {% if attempt.first_fail_test == 0 %}-{% else %}{{ attempt.first_fail_test }}{% endif %}
                    </div>
                    <div class="col-xl-1 text-center border-end d-none d-xl-block">
                        Python
                    </div>
                    <div class="col-3 col-md-2 col-lg-1 pe-2">
                        <a data-bs-toggle="dropdown" aria-expanded="false"><span class="badge btn btn-primary p-2 dropdown-toggle col-12 opacity-50"><i class="bi bi-eye me-1"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ attempt.get_lms_detail_url }}" class="dropdown-item" href="">Смотреть</a></li>
                            <li><a href="{{ attempt.get_retest_url }}" class="dropdown-item" href="">Перетестировать</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}