{% extends 'lms/steps/detail.html' %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block step_body %}
<div class="card-body">
    <div class="card mb-2">
        <div class="card-header bg-transparent px-3">
            Всего попыток: {% if step.get_num_attempts == -1 %}не ограничено{% else %}{{ step.get_num_attempts }}{% endif %}
        </div>
        <div class="card-body pb-0">
            {{ step.description|safe }}
        </div>
    </div>
    {% user_has_right_answer user_attempts as correct %}
    {% if correct %}
    <div class="card">
        <div class="card-body text-center text-success">
            Уже есть правильный ответ
        </div>
    </div>
    {% elif step.get_num_attempts == -1 or step.get_num_attempts > user_attempts.count %}
    <form method="post">
        {% csrf_token %}
        <div class="btn-group col-12">{% for radio in form.user_answer %}{{ radio.tag }}
            <label class="btn btn-outline-primary col-12 p-2" for="{{ radio.id_for_label  }}">{{ radio.choice_label }}</label>
            {% endfor %}
            <button type="submit" class="btn btn-outline-secondary p-2">Отправить</button>
        </div>
    </form>
    
    {% else %}
    <div class="card">
        <div class="card-body text-center text-danger">
            Вы исчерпали все попытки
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block under_content %}
{% if user_attempts %}
<div class="card shadow mb-2">
    <div class="card-header bg-transparent p-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0 text-truncate"><i class="bi bi-ui-checks-grid me-2"></i>Ваши попытки</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="card mb-1">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        ID
                    </div>
                    <div class="col-lg-3 col-xl-2 text-center border-end d-none d-lg-block">
                        Дата
                    </div>
                    <div class="col-3 col-xl-2 text-center border-end text-truncate d-none d-md-block">
                        Задача
                    </div>
                    <div class="col-5 col-md-3 col-xl-2 text-center border-end text-truncate">
                        Ответ
                    </div>
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        Вердикт
                    </div>
                    <div class="col-xl-3 text-center border-end d-none d-xl-block">
                        Ответ
                    </div>
                    <div class="col-3 col-md-2 col-lg-1 pe-2">
                        <span class="badge btn btn-secondary p-2 col-12 opacity-50"><i class="bi bi-eye"></i></span>
                    </div>
                </div>
            </div>
        </div>
        {% for attempt in user_attempts %}
        <div class="card {% if not forloop.last %}mb-1{% endif %}">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        {{ attempt.pk }}
                    </div>
                    <div class="col-lg-3 col-xl-2 text-center border-end d-none d-lg-block">
                        {{ attempt.date_create|date:'d.m.Y H:i:s' }}
                    </div>
                    <div class="col-3 col-xl-2 text-center border-end text-truncate d-none d-md-block">
                        <a href="#" class="text-decoration-none">{{ attempt.question }}</a>
                    </div>
                    <div class="col-5 col-md-3 col-xl-2 text-center border-end text-truncate">
                        <a href="#" class="text-decoration-none">{{ attempt.user }}</a>
                    </div>
                    <div class="col-2 col-lg-1 text-center border-end {% if attempt.is_correct %}text-success{% else %}text-danger{% endif %}">
                        {% if attempt.is_correct %}OK{% else %}WA{% endif %}
                    </div>
                    <div class="col-xl-3 text-center border-end d-none d-xl-block">
                        {{ attempt.user_answer }}
                    </div>
                    <div class="col-3 col-md-2 col-lg-1 pe-2">
                        <a href="{{ attempt.get_detail }}"><span class="badge btn btn-primary p-2 col-12 opacity-50"><i class="bi bi-eye"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if all_attempts %}
<div class="card shadow">
    <div class="card-header bg-transparent p-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0 text-truncate"><i class="bi bi-ui-checks-grid me-2"></i>Попытки пользователей</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="card mb-1">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        ID
                    </div>
                    <div class="col-lg-3 col-xl-2 text-center border-end d-none d-lg-block">
                        Дата
                    </div>
                    <div class="col-3 col-xl-2 text-center border-end text-truncate d-none d-md-block">
                        Задача
                    </div>
                    <div class="col-5 col-md-3 col-xl-2 text-center border-end text-truncate">
                        Ответ
                    </div>
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        Вердикт
                    </div>
                    <div class="col-xl-3 text-center border-end d-none d-xl-block">
                        Ответ
                    </div>
                    <div class="col-3 col-md-2 col-lg-1 pe-2">
                        <span class="badge btn btn-secondary p-2 col-12 opacity-50"><i class="bi bi-eye"></i></span>
                    </div>
                </div>
            </div>
        </div>
        {% for attempt in all_attempts %}
        <div class="card {% if not forloop.last %}mb-1{% endif %}">
            <div class="card-body">
                <div class="row align-items-center small">
                    <div class="col-2 col-lg-1 text-center border-end text-truncate">
                        {{ attempt.pk }}
                    </div>
                    <div class="col-lg-3 col-xl-2 text-center border-end d-none d-lg-block">
                        {{ attempt.date_create|date:'d.m.Y H:i:s' }}
                    </div>
                    <div class="col-3 col-xl-2 text-center border-end text-truncate d-none d-md-block">
                        <a href="" class="text-decoration-none">{{ attempt.question }}</a>
                    </div>
                    <div class="col-5 col-md-3 col-xl-2 text-center border-end text-truncate">
                        <a href="#" class="text-decoration-none">{{ attempt.user }}</a>
                    </div>
                    <div class="col-2 col-lg-1 text-center border-end {% if attempt.is_correct %}text-success{% else %}text-danger{% endif %}">
                        {% if attempt.is_correct %}OK{% else %}WA{% endif %}
                    </div>
                    <div class="col-xl-3 text-center border-end d-none d-xl-block">
                        {{ attempt.user_answer }}
                    </div>
                    <div class="col-3 col-md-2 col-lg-1 pe-2">
                        <a href="{{ attempt.get_detail }}"><span class="badge btn btn-primary p-2 col-12 opacity-50"><i class="bi bi-eye"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock under_content %}