{% extends 'include/base.html' %}
{% block page_title %}{{ page_title }}{% endblock page_title %}
{% block body %}{% load static %}
<div class="container">
    <div class="card shadow mb-2">
        <div class="card-body small">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    {% block breadcrumb %}
                    <li class="breadcrumb-item">
                        <a href="{% url 'CMS_Dashboard' %}" class="text-decoration-none">CMS</a>
                    </li>
                    {% endblock breadcrumb %}
                </ol>
            </nav>
        </div>
    </div>
    {% block user_info %}
    <div class="card shadow mb-2">
        <div class="card-body">
            <div class="row gx-2">
                <div class="col-1 d-none d-lg-block">
                    <img src="{{ user.icon.url }}" class="img-fluid rounded">
                </div>
                <div class="col-12 col-lg-11">
                    <h3 class="mb-2">Привет, {{ user.first_name }}!</h3>
                    <i class="bi bi-gem me-2"></i>{{ user.coin }}
                </div>
            </div>
        </div>
    </div>
    {% endblock user_info %}
    {% block row %}
    <div class="row g-2">
        <div class="col-lg-4 col-xl-3">
            {% block sidebar %}
            <div class="card shadow">
                <div class="card-body d-none d-lg-block">
                    {% include 'cms/include/_nav.html' %}
                </div>
                <div class="card-body d-block d-lg-none">
                    <nav class="navbar p-0">
                        <h4 class="m-0">Меню</h4>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="menu">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-end border-0 w-75 rounded-start" tabindex="-1" id="menu">
                            <div class="offcanvas-header border-bottom p-2">
                                <a class="navbar-brand p-0 m-0" href="/">
                                    <img src="{% static 'picture/logo_500x500.png' %}" alt="" width="60" height="60" class="d-inline-block">
                                </a>
                                <h2 class="offcanvas-title">ИТ Полигон</h2>
                                <button type="button" class="btn-close ms-auto me-2" data-bs-dismiss="offcanvas"></button>
                            </div>
                            <div class="offcanvas-body">
                                {% include 'cms/include/_nav.html' %}
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            {% endblock sidebar %}
        </div>
        <div class="col-lg-8 col-xl-9">
            {% block content %}
            <div class="card shadow">
                <div class="card-header bg-transparent p-3">
                    <h4 class="m-0 text-truncate"><i class="bi bi-ui-checks-grid me-2"></i>Главная</h4>
                </div>
                <div class="card-body">
                    Добро пожаловать в панель управления. Это главная страница.
                </div>
            </div>
            {% endblock content %}
            {% block under_content %}{% endblock under_content %}
        </div>
    </div>
    {% endblock row %}
</div>
{% endblock body %}