{% extends 'include/base.html' %}
{% load static %}
{% block page_title %}Страница не найдена{% endblock %}
{% block body %}
<div class="container">
    <div class="row gx-4 align-items-center">
        <div class="col-12 col-md-7">
            <h1 class="mb-4">Упс. Страницы не существует</h1>
            Просто перейдите на <a href="{% url 'HomePage' %}" class="text-decoration-none">главную</a>
        </div>
        <div class="col-12 col-md-5">
            <img src="{% static 'main/404.png' %}" alt="" class="rounded col-12 img-fluid">
        </div>
    </div>
</div>
{% endblock %}