{% extends 'lms/dashboard.html' %}{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'LMS_UserProfile' %}" class="text-decoration-none">Аккаунт</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'LMS_UserCoursesList' %}" class="text-decoration-none">Мои курсы</a>
</li>
<li class="breadcrumb-item">
    <a href="{{ lesson.topic.course.get_lms_detail_url }}" class="text-decoration-none">{{ lesson.topic.course.title }}</a>
</li>
<li class="breadcrumb-item">
    {{ lesson.topic.title }}
</li>
<li class="breadcrumb-item active">
    {{ lesson.title }}
</li>
{% endblock breadcrumb %}{% block user_info %}{% endblock user_info %}
{% block row %}
<div class="card shadow mb-2">
    {% block step_header %}
    <div class="card-header bg-transparent p-3">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="m-0 text-truncate"><i class="bi bi-ui-checks-grid me-2"></i>{% if lesson %}{{ lesson.title }}{% elif step %}{{ step.title }}{% endif %}</h4>
            {% include 'lms/lessons/_nav.html' %}
            <div class="d-none d-lg-flex">
                {% include 'lms/steps/steps.html' %}
            </div>
        </div>
    </div>
    {% endblock step_header %}
    {% block step_body %}
    <div class="card-body">
        {{ lesson.description }}
    </div>
    {% endblock step_body %}
</div>
{% block under_content %}{% endblock under_content %}
{% block buttons %}{% endblock buttons%}
{% endblock row %}