<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <label class="form-label" for="id_title">Название курса</label>
    <div class="input-group mb-2">
        <span class="input-group-text"><i class="bi bi-type"></i></span>
        {{ form.title }}
    </div>
    {% for error in form.title.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    <label class="form-label" for="id_slug">Slug курса</label>
    <div class="input-group mb-2">
        <span class="input-group-text"><i class="bi bi-hash"></i></span>
        {{ form.slug }}
    </div>
    {% for error in form.slug.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    <label class="form-label" for="id_icon">Иконка курса</label>
    <div class="input-group mb-2">
        {{ form.icon }}
    </div>
    {% for error in form.icon.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    <label class="form-label" for="id_description">Краткое описание курса</label>
    <div class="input-group mb-2">
        <span class="input-group-text"><i class="bi bi-paragraph"></i></span>
        {{ form.description }}
    </div>
    {% for error in form.description.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    <label class="form-label" for="id_full_description">Полное описание курса</label>
    <div class="input-group mb-2">
        {{ form.full_description }}
    </div>
    {% for error in form.full_description.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    <div class="input-group mb-2">
        <div class="form-check form-switch">
            {{ form.is_published }}</div>
        <label class="form-check-label" for="id_is_published">Опубликовать</label>
    </div>
    <div class="input-group mb-2">
        <div class="form-check form-switch">
            {{ form.is_search }}</div>
        <label class="form-check-label" for="id_is_search">Поместить на главную</label>
    </div>
    <label class="form-label" for="id_price">Стоимость курса</label>
    <div class="input-group mb-2">
        <span class="input-group-text"><i class="bi bi-currency-dollar"></i></span>
        {{ form.price }}
    </div>
    {% for error in form.price.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    <label class="form-label" for="id_course_level">Уровень курса</label>
    <div class="input-group mb-2">
        <span class="input-group-text"><i class="bi bi-sort-up-alt"></i></span>
        {{ form.course_level }}
    </div>
    {% for error in form.course_level.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    <label class="form-label" for="id_category">Категория</label>
    <div class="input-group mb-2">
        <span class="input-group-text"><i class="bi bi-tag"></i></span>
        {{ form.category }}
    </div>
    {% for error in form.category.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    <label class="form-label" for="id_tags">Теги</label>
    <div class="input-group mb-2">
        <span class="input-group-text"><i class="bi bi-bookmark"></i></span>
        {{ form.tags}}
    </div>
    {% for error in form.tags.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    <label class="form-label" for="id_min_age_students">Минимальный</label> и
    <label class="form-label" for="id_max_age_students">максимальный класс учеников</label>
    <div class="input-group mb-2">
        <span class="input-group-text"><i class="bi bi-person"></i></span>
        {{ form.min_age_students }}
        {{ form.max_age_students }}
    </div>
    {% for error in form.min_age_students.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    {% for error in form.max_age_students.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    <label class="form-label" for="id_video_url">Видео о курсе</label>
    <div class="input-group mb-2">
        <span class="input-group-text"><i class="bi bi-link"></i></span>
        {{ form.video_url }}
    </div>
    {% for error in form.video_url.errors %}
    <div class="text-danger small mb-2">
        {{ error }}
    </div>
    {% endfor %}
    <div class="btn-group col-12">
        <a href="{{ course.get_cms_detail_url }}" class="btn btn-secondary col-12">Отмена</a>
        <button type="submit" class="btn btn-primary col-12">{% if course %}Редактировать курс{% else %}Создать курс{% endif %}</button>
    </div>
</form>