{% extends 'lms/dashboard.html' %}{% load static %}{% load courses_tags %}
{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'LMS_UserProfile' %}" class="text-decoration-none">Аккаунт</a>
</li>
<li class="breadcrumb-item">
    <a href="{% url 'LMS_UserCoursesList' %}" class="text-decoration-none">Мои курсы</a>
</li>
<li class="breadcrumb-item active">
    {{ course.title }}
</li>
{% endblock breadcrumb %}
{% block sidebar %}
<div class="card shadow d-none d-lg-block mb-2">
    <div class="card-body">
        <img src="{{ course.icon.url }}" class="col-12 rounded bg-light" alt="">
    </div>
</div>
<div class="card shadow">
    <div class="card-body d-none d-lg-block">
        {% include 'lms/courses/_nav.html' %}
    </div>
    <div class="card-body d-block d-lg-none">
        <nav class="navbar p-0">
            <h4 class="m-0"><i class="bi bi-menu-button-wide me-2"></i>Меню</h4>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" aria-controls="menu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end border-0 w-75 rounded-start " tabindex="-1" id="menu">
                <div class="offcanvas-header border-bottom p-2">
                    <a class="navbar-brand p-0 m-0" href="/">
                        <img src="{% static 'picture/logo_500x500.png' %}" alt="" width="60" height="60" class="d-inline-block">
                    </a>
                    <h2 class="offcanvas-title">ИТ Полигон</h2>
                    <button type="button" class="btn-close ms-auto me-2" data-bs-dismiss="offcanvas"></button>
                </div>
                <div class="offcanvas-body">
                    {% include 'lms/courses/_nav.html' %}
                </div>
            </div>
        </nav>
    </div>
</div>
{% endblock sidebar %}
{% block content %}

<div class="card shadow">
    <div class="card-header bg-transparent p-3">
        <h4 class="m-0 text-truncate"><i class="bi bi-ui-checks-grid me-2"></i>{{ course.title }}</h4>
    </div>
    <div class="card-body pb-2">
        {% for topic in course.topics.all %}
        <div class="row gx-2 mb-2">
            <div class="col-12 col-sm-9">
                <div class="card {% if topic.get_user_percentage == 100 %}collapsed{% endif %}" data-bs-toggle="collapse" href="#collapse{{ topic.slug }}" role="button" aria-expanded="{% if topic.get_user_percentage == 100 %}false{% else %}true{% endif %}" aria-controls="collapse{{ topic.slug }}">
                    <div class="card-body p-2">
                        <div class="row align-items-center">
                            <div class="col-8 text-truncate">
                                <span class="badge bg-secondary p-2 opacity-50 me-2"># {{ forloop.counter }}</span>{{ topic.title }}
                            </div>
                            <div class="col-4 text-end">
                                <span class="small text-secondary">{{ topic.get_user_end_steps }} / {{ topic.get_steps_cnt }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-block col-sm-3">
                <div class="card h-100">
                    <div class="card-body p-2">
                        <div class="progress h-100">
                            <div class="progress-bar {% if topic.get_user_percentage == 100 %}bg-success{% endif %}" role="progressbar" style="width: {{ topic.get_user_percentage }}%;" aria-valuenow="{{ topic.get_user_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse {% if topic.get_user_percentage != 100 %}show{% endif %}" id="collapse{{ topic.slug }}">
            {% for lesson in topic.lessons.all %}
            <div class="row gx-2 mb-2">
                <div class="col-11 col-sm-8 offset-1">
                    <div class="card">
                        <div class="card-body p-2">
                            <div class="row align-items-center">
                                <div class="col-8 text-truncate">
                                    <span class="badge bg-secondary p-2 opacity-50 me-2"># {{ forloop.counter }}</span><a href="{{ lesson.get_lms_detail_url }}" class="text-decoration-none">{{ lesson.title }}</a>
                                </div>
                                <div class="col-4 text-end">
                                    <span class="small text-secondary">{{ lesson.get_user_end_steps }} / {{ lesson.get_steps_cnt }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-sm-block col-sm-3">
                    <div class="card h-100">
                        <div class="card-body p-2">
                            <div class="progress h-100">
                                <div class="progress-bar {% if lesson.get_user_percentage == 100 %}bg-success{% endif %}" role="progressbar" style="width: {{ lesson.get_user_percentage }}%;" aria-valuenow="{{ lesson.get_user_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% empty %}
        <div class="text-center text-danger mb-2">
            В курсе нет никаких материалов :( Сообщите преподавателю
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}